.rodape {
    background-color: var(--branco);
    border-top: 1px solid var(--branco);
    border-radius: 12px;
    box-shadow: 0 -4px 8px rgba(0,0,0,.06);
    padding: 1em 0;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.rodape__lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style: none;
}

.rodape__lista-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
}

.rodape-links {
    font-size: 0.75rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--cinza);
}

.consulta {
    color: var(--azul);
}

