.rodape {
    background-color: var(--branco);
    border-top: 1px solid var(--branco);
    border-radius: 16px;
    box-shadow: 0px -4px 8px 0px #0000000F;
    padding: 1em 0;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.rodape__lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;
}

.rodape__lista-itens {
    padding: 0 1em;
}

.rodape-links {
    font-size: 0.75rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--cinza);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.consulta {
    color: var(--azul);
}

@media screen and (min-width: 768px) {
    .rodape {
        padding: 1em 8em;
    }

    .rodape__lista {
        justify-content: space-around;
    }

}

@media screen and (min-width: 1440px) {
    .rodape {
        padding: 1em 28em;
    }
}